# Ignore everything inside shared_logs except the folder itself
shared_logs/*
!shared_logs/.gitkeep
# This folder and the dashboard is no longer being used but kept for reference...
# It was used to monitor the status of the satellite flower system during early development...

# This folder has contains the files like satellite_1.txt, satellite_2.txt, etc.
# which are generated during the simulation.
# We want to ignore these files but keep the folder.


# Ignore everything inside data except the folder itself
# This folder contains the dataset used for training and testing.
# We want to ignore the files but keep the folder.
# So when the repository is cloned, the folder exists but is empty and data is downloaded during setup.
data/*
!data/.gitkeep


# Ignore everything inside constellations except the folder itself...
constellations/*
!constellations/.gitkeep


# Ignore everything inside CMaps except the folder itself...
CMaps/*
!CMaps/.gitkeep


# Ignore everything inside results except the folder itself...
results/*
!results/.gitkeep

